* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #140A26;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, textarea {
  font-family: inherit;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
}

.task {
  display: grid;
  height: 48px;
  align-content: center;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "status title date";
  padding: 0 10px;
  background: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  margin-bottom: 12px;
}

.task__status {
  grid-area: status;
  margin-right: 5px;
}

.task__title {
  grid-area: title;
  font-size: 0.875em;
  margin-right: 18px;
}

.task__date {
  grid-area: date;
  font-size: 0.875em;
}

.task-list {
  padding: 20px 46px;
}

.header {
  padding: 42px;
  text-align: center;
}

.logo {
  margin-bottom: 20px;
}

.toggle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 25px;
  height: 50px;
  background: #FFFFFF;
  position: relative;
  overflow: hidden;
}

.toggle__btn {
  position: relative;
  z-index: 2;
  font-size: 14px;
  font-weight: bold;
}

.toggle__btn:first-child {
  color: white;
}

.toggle--daily .toggle__btn:first-of-type {
  color: black;
}

.toggle--daily .toggle__btn:last-of-type {
  color: white;
}



.toggle__bg {
  position: absolute;
  left: 0;
  top: 0;
  background:  #5B3E96;
  height: 100%;
  width: 50%;
  border-radius: 25px;
  z-index: 1;
  will-change: transform;
  transition: transform 300ms ease;
}

.toggle--daily .toggle__bg {
  transform: translate(100%);
}

.calendar {
  color: white;
  padding: 0 32px;
}

.calendar__month {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.week {
  border-bottom: 1px solid #DFDFE4;
  padding: 12px 14px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 40px;
  justify-items: center;
  align-items: start;
  padding: 14px;
}

.day {
  color: white;
  font-weight: bold;
  font-size: 14px;
}
